@import "variables.less";

a {
  text-decoration: none;
  color: inherit;
}

.html{
  color: @base-color-text;
  font-family: 'Palanquin';
  font-size : 39%;
  background-image: url(../images/bg.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.html,
.body,
.content {
  width: 100%;
}


@media screen and (min-width: 610px){
  .html{ font-size : 75%;}
}

@media screen and (min-width : 768px){
  .html{ font-size : 87.5%;}
}

@media screen and (min-width : 1024px) {
  .html{ font-size : 100%};
}

.calendar{
  font-size: 0.5em;
  th, td{
    border: 1px solid @base-color-text;
    padding: 0.3em;
    width: 10%;
  }
}
