@base-color-text: #488c2c;
@base-color-back: #FFFFFF;
@base-color-light: #9FD488;
@base-color-dark: #2A6810;

@2nd-color-text: #000000;
@2nd-color-back: #FFFFFF;

@3rd-color-text: #aaaaaa;

@shadow: rgba(0, 0, 0, 0.117647) 0px 1px 6px, rgba(0, 0, 0, 0.117647) 0px 1px 4px;
